@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
  }

body{
    font-size: 62.5%;
    font-family: 'Staatliches', cursive;
}
/* NAV */
nav{
    z-index: 1;
    position: fixed;
    height: 20vw;
    width: 100vw;
}

.nav-border{
    color: white;
}

/* Boton 3 Lineas */
.nav-fake{
    height: 20vw;
}

nav ul{
    font-size: 1.5rem;
}

nav ul li{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    height: 15vw;
    justify-content: space-around;
    align-content: space-around;
    background-color:rgba(0, 0, 0, 0.507) ;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.nav-border-li{
    height: 20vw;
    display: inline-flex;
    flex-wrap: wrap;
    background-color: orange;
}

nav ul li a{
    text-decoration: none;
    color: white;
    width: 100vw;
}
.i{
    display: none;
}

/* HEADER */

header{
    height: 70vw;
    background: linear-gradient(to right, #ff0000,orange,yellow,green,blue,violet);
    background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    font-family: 'Oswald', sans-serif;
}

header h1{
    padding-top: 7vw;
    text-align: center;
    font-size: 2rem;
    color: white;
}

header p{
    text-align: center;
    font-size: 1.5rem;
    padding-top: 0.5rem;
    color: white;
}

.header-bg{
    width: 100%;
    height: 70vw;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-end;
}

.acord{
    height: 40vw;
    width: 40vw;
    z-index: 0;
}
/* WORKS */

.works{
    text-align: center;
    user-select: none;
}

.works h1{
    padding: 23vw 0 1rem 0;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
}

.works ul{
    height: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

.works ul li{
    display: inline;
    word-wrap:normal;
}

.works ul li img{
    width: 100vw;
    height: 100vw;
    margin: 0;
}
/* ABOUT */

.about{
    padding: 20vw 2rem 2rem 2rem;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

.about h2{
    padding: 2rem 0;
}

/* FRIENDS */
.friends{
    width: 100%;
    background-color: rgb(161, 91, 0);
    color: white;
    user-select: none;
}

.friends-title{
    text-align: center;
    padding-top: 20vw;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}

.friends ul{
    height: 100%;
    overflow-x: auto;
    white-space: nowrap;
    padding: 2rem 0;
    display: flex;
}

.friends ul li{
    display: inline-flex;
    word-wrap:normal;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    padding: 1rem;
}

.friends ul li p{
    padding-top: 1rem;
    white-space:pre-line;
    text-align: center;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    
}

.friends ul li img{
    width: 30vw;
    height: 30vw;
    border-radius: 200%;
    user-select: none;
}
/* SOCIAL MEDIA */

.social-title{
    text-align: center;
    padding-top: 20vw;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}

.social ul{
    height: 100%;
    overflow-x: auto;
    white-space: nowrap;
    padding: 2rem 0;
    display: flex;
}

.social ul li{
    display: inline-flex;
    word-wrap:normal;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    padding: 6vw;
}

.social ul li p{
    padding-top: 1rem;
}

.social ul li img{
    width: 21vw;
    height: 21vw;
}

/* FOOTER */

footer{
    background-color: black;
    color: white;
}

footer p{
    padding: 2rem 2rem;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
}

/* media querys */

@media only screen and (min-width: 480px) {  

    .nav-border{
        font-size: 3rem;
    }
    
    nav ul li{
        font-size: 2rem;
    }

    header{
        height: 90vw;
    }

    header h1{
        font-size: 3.5rem;
    }

    header p{
        font-size: 2rem;
    }

    .header-bg{
        width: 100%;
        height: 90vw;
    }

    .works h1{
        font-size: 3rem;
    }

    .about h2{
        font-size: 3rem;
    }

    .about p{
        font-size: 1.5rem;
        padding-bottom: 20vw;
    }

    .friends-title{
        font-size: 3rem;
    }

    .friends ul{
        padding-bottom: 20vw;
    }

    .friends ul li{
        padding: 1rem 2rem;
    }

    .friends ul li p{
        font-size: 1.5rem;
    }

    .social-title{
        font-size: 3rem;
    }

    footer p{
        font-size: 2.5rem;
    }

}  


@media only screen and (min-width: 768px) {  
    nav{
        height: 10vw;
    }
    
    .nav-border-li{
        height: 10vw;
        color: white;
    }

    .nav-fake{
        height: 10vw;
    }
    
    nav ul li{
        font-size: 1.5rem;
        height: 7vw;
    }

    header{
        height: 40vw;
    }

    header h1{
        font-size: 3.5rem;
    }

    header p{
        font-size: 2rem;
    }

    .header-bg{
        height: 40vw;
    }

    .acord{
        width: 25vw;
        height: 25vw;
    }

    .works h1{
        padding-top: 10vw;
        font-size: 3rem;
    }

    .works ul li img{
        width: 35vw;
        height: 35vw;
    }

    .about{
        padding: 5rem 2rem 12vw 2rem ;
        height: auto;
    }

    .about p{
        padding-bottom: 0;
    }

    .friends-title{
        padding-top: 12vw;
    }


    .friends ul{
        padding-bottom: 6vw;
    }

    .friends ul li p{
        font-size: 2vw;
    }

    .friends ul li img{
        width: 15vw;
        height: 15vw;
    }

    .social-title{
        padding-top: 12vw;
    }

    .social ul li img{
        width: 12vw;
        height: 12vw;
    }

    .social ul li{
        margin: 0 auto;
    }

    footer p{
        font-size: 4vw;
    }

} 

@media only screen and (min-width: 1024px) {  

    nav, .nav-fake{
        height: 50px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        background-color: orange;
    }
    
    nav ul {
        height: 50px;
        position: static;
        width: 1024px;
        margin: auto auto;
        display: flex;
    }

    .nav-border-li{
        display: none;
    }

    nav ul li{
        height: 50px;
        z-index: 0;
        font-size: 1.5rem;
        background-color: orange;
    }

    .nav-border-li{
        height: 50px;
        flex-wrap: wrap;
    }

    nav ul li a{
        display: flex;
        flex-wrap: wrap;
        align-content: space-around;
        justify-content: space-around;
        height: 50px;
        width: auto;
    }

    .i{
        display: inline-block;
    }

    header{
        margin: 0 auto;
    }

    header,.header-bg{
        width: 1024px;
        height: 80vh;
        max-height: 612px;
    }

    header p{
        font-size: 3rem;
        max-height: 612px;
    }

    header h1{
        font-size: 5rem;
    }

    .acord{
        height: 70%;
        width: auto;
    }

    .works{
        width: 1024px;
        margin: 0 auto;
    }
    
    .works h1{
        padding: 4rem 0;
        font-size: 3rem;
    }

    .works ul{
        width: 1024px;
        height: 469px;
    }

    .works ul li img{
        height: 346px;
        width: 346px;
    }

    .about{
        width: 1024px;
        margin: 0 auto;
        padding: 2rem;
    }

    .about h2{
        padding: 3rem 0 2rem 0;
        font-size: 3rem;
    }

    .about p{
        font-size: 1.75rem;
        padding-bottom: 2rem;
    }

    .friends{
        width: 1024px;
        margin: 0 auto;
    }

    .friends-title{
        padding-top:4rem;
        font-size: 3rem;
    }

    .friends ul {
        padding-bottom: 6rem;
    }

    .friends ul li img{
        padding: 2rem 2rem;
        width: 309px;
        height: 309px;
    }

    .social{
        width: 1024px;
        margin: 0 auto;
    }

    .social-title{
        font-size: 3rem;
        padding-top: 4rem;
    }

    .social ul{
        width: 1024px;
    }

    .social ul li{
        padding: 0;
        margin: 4rem auto 5rem auto;
    }

    .social ul li a img{
        width: 196px;
        height: 196px;
    }

    footer{
        width: 1024px;
        margin: 0 auto;
    }

    footer p{
        padding: 4rem 0;
        font-size: 2rem;
    }

}

/* */

/* */

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
}


::-webkit-scrollbar {
    display: none;
}